# Node modules
node_modules/

Datastore/state_machines.json
bots/Datastore/scheduler.json
bots/conversation_store.xlsx

test/login_credentials.txt

# Logs and temp files
*.log
*.tmp
datastore_transfer.log
logs/
tmp/

# MacOS system files
.DS_Store

# Environment variables
.env

# Build directories
build/
dist/

# Compiled binaries
*.o
*.out
*.exe

# iOS specific files
*.xcuserdatad
*.xcuserdata
*.xcworkspace
Pods/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# IDE/editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml

# Dependency directories and files
/Server_node/node_modules
/Webapp/ai-caring-interface/node_modules
/Middleware/node_modules/
/package-lock.json

# Server-specific files
/Servers/node_modules
/Servers/logs
/Servers/tmp

# Miscellaneous
*.bak
*.orig

# Documentation outputs
*.pdf

# Ignore the deployments folder
Deployments/
Scripts/
rso_shift_bot/
Evaluation-set/
Fine-tunning/
bots/.converage

# Python
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
*/.pytest_cache/
.coverage
*/.coverage

# Dataset and evaluation files
Fine-tunning

# Deployment and scripts
deploy*.sh

# Test and Coverage
htmlcov/
.tox/

# Zip files
*.zip
