[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-dotenv="*"
bcrypt = "*"
pydantic = "*"
langchain-openai = "*"
grpcio = "*"
grpcio-tools = "*"
schedule = "*"
openpyxl = "*"
pytest-cov = "*"
python-dotenv = "*"
freezegun = "*"
langchain = "*"
langchain-community = "*"
ipdb = "*"
awsiotsdk="1.22.2"
openai="*"
uvicorn="*"

# grpc
grpcio="*"
requests="*"
schedule="*"
googleapis-common-protos="*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
