[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
langchain-openai = "*"
grpcio = "*"
grpcio-tools = "*"
schedule = "*"
openpyxl = "*"
pytest-cov = "*"
python-dotenv = "*"
freezegun = "*"
langchain = "*"
langchain-community = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
