/* src/screens/AdminScreen/AdminScreen.module.css */

.container {
  display: flex;
}

.mainContent {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s;
  margin-left: 250px; /* Adjust this value based on the sidebar width */
}

.mainContentCollapsed {
  margin-left: 80px; /* Width of the collapsed sidebar */
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #dee2e6;
  padding: 8px;
}

.table th {
  background-color: #f8f9fa;
  font-weight: bold;
}

.table td {
  text-align: center;
}
