.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height */
  padding: 20px;
  box-sizing: border-box;
}

.reminderTile {
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.addReminder {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.textField {
  flex-grow: 1;
  margin-right: 10px;
}

.addButton {
  height: 56px;
}
